<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>仪表盘</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="logout">
        <a href="/dashboard/logout">退出登录</a>
    </div>
    <div idk="IDK">
        这是一个仪表盘界面
    </div>
    <div class="dashboard-function">
        {% if user.is_authenticated and user.is_student %}
            {{ eval(user.student.contest) }}
        {% elif user.is_authenticated and user.is_teacher %}
        {% endif %}
    </div>
</body>
</html>