<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>重置密码</title>
    {% load staticfiles %}         
    <link rel="stylesheet" media="screen" href="{% static 'index/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/reset.css' %}"> 
</head>
<body>
    <div id="particles-js">
		<div class="p-one-forgot">
            <div class="forgot-top" >
            请输入学号
			</div>
            <div class="forgot-data">
                <form method="post" action="#" id="forgot-form">
					<div class="p-one">
						<input type="text" class="p-one-input" id="email" name="email" placeholder="请输入您注册时的学号" required>
					</div>
                </form>
            </div>
			<div class="forgot-button" >
				提交
			</div>
        </div> 
</div>
<script>
    document.querySelector(".forgot-button").onclick = function(){
        document.getElementById('forgot-form').submit();
        window.location.href = "Forgot-page-two.html";		//只是尝试跳转
    }
</script>
</body>
</html>