<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signUp</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
</head>
<body>
    <div class="sign-up-wrap">
        <div class="sign-up-wrap-box">
            <div class="vertical-center">
                <div style="margin-bottom: 11px;">
                    <a class="fix-a" style="color: blue;" href="/dashboard/signup/student">学生注册</a>
                </div>
                <div style="margin-bottom: 11px;">
                    <a class="fix-a" style="color: blue;" href="/dashboard/signup/teacher">教员注册</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>