<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <title>form</title>
    <link rel="stylesheet" href="{% static 'tiaozhancup.css' %}">

</head>
<body>
    <div>
        <h1>这是比赛报名的界面 啦啦啦啦</h1>
    </div>
    
    {% block panel %}
        {% include 'includes/form_panel.html' %}
    {% endblock panel %}
</body>
</html>