{% extends 'includes/base.html' %}

{% block left-box %}
<div class="info-area left-area">
    <div class="contest-container">
        <div class="description-bar">
            <div class="vertical-center">
                <b>报名信息</b>
            </div> 
        </div>
        <div class="contest-bar">
            <div class="contest-card">
                <div class="image-bar">
                    <img src="{% static 'image/timg.jpg' %}" class="bar-image-setting">
                </div>
                <div class="contest-name-bar">
                    <div class="vertical-center">
                        <b>厅室申请</b> 
                    </div>
                </div>
            </div>
            <div class="contest-card">
                <div class="image-bar">
                </div>
                <div class="contest-name-bar">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock left-box %}

{% block right-box %}         
<div class="info-area right-area">
    <div class="announce-container">
        <div class="description-bar">
            <div class="vertical-center">
                <b>通知</b> <i class="fa fa-bell fa-1x"></i>
            </div> 
        </div>
    </div>
</div>
{% endblock right-box %}