.dashboard-left {
    background-color: #3c3c3c;
    color: #fff !important;
    border-color: #3c3c3c;
    width: 18%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}

.dashboard-title-container {
    width: 97%;
    height: 8%;
    padding: 15px;
    border-bottom-style: inset;
}

.dashboard-title-fix {
    text-align: left;
    font-size: large;
    margin-left: 20px;
}

.side-nav {
    list-style: none;
    padding-left: 0;
    height: 70%;
    font-size: larger;
}

.nav-header {
    height: 8%;
    opacity: 0.8;
    padding-left: 15px;
    border-bottom-style: outset;
}

.nav-children {
    height: 8%;
    padding-left: 15px;
    font-size: larger;
    margin: 5px auto;
}

/* 卡片 */
.dashboard-card-container {
    position: relative;
    height: 86%;
    width: 100%;
    box-sizing: border-box;
    display: table;
    content: " ";
    
}

.card-wrapper{
    width: 25%;
    display: inline-table;
    margin: 6px 10px;
    border: dotted;
    border-color: aqua;
}

.dash-card{
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}

.dash-card-header{
    float: left;
    text-align: center;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.3), 
                0 4px 25px 0px rgba(0, 0, 0, 0.1), 
                0 8px 10px -5px rgba(0, 0, 0, 0.1);
    margin: -20px 20px 0;
    border-radius: 5px;
    padding: 3px;
}

/* 卡片 */