.dashboard-left {
    background-color: #3c3c3c;
    color: #fff !important;
    border-color: #3c3c3c;
    width: 24%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}

.dashboard-title-container {
    width: 97%;
    height: 8%;
    padding: 15px;
    border: dotted;
}