.dashboard-left {
    background-color: #3c3c3c;
    color: #fff !important;
    border-color: #3c3c3c;
    width: 18%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}

.dashboard-title-container {
    width: 97%;
    height: 8%;
    padding: 15px;
    border-bottom-style: inset;
}

.dashboard-title-fix {
    text-align: left;
    font-size: large;
    margin-left: 20px;
}

.side-nav {
    list-style: none;
    padding-left: 0;
    height: 70%;
    font-size: larger;
}

.nav-header {
    height: 8%;
    opacity: 0.8;
    padding-left: 15px;
    border-bottom-style: outset;
}

.nav-children {
    height: 8%;
    padding-left: 15px;
    font-size: larger;
    margin: 5px auto;
}

/* 卡片 */
.dashboard-card-container {
    position: relative;
    background: rgb(242, 242, 242);
    height: 86%;
    width: 100%;
    box-sizing: border-box;
    display: table;
    content: " ";
    border: dotted;
    border-color: darkred;
}

.card-wrapper{
    width: 25%;
    display: inline-table;
    border: dotted;
    border-color: aqua;
}



/* 卡片 */