{% extends 'includes/base.html' %}

{% load static %}

{% block app-css %} 
<link rel="stylesheet" href="{% static 'css/content1.css' %}">
{% endblock %}

{% block middle-box %}
<div>
    <h1>
        {{ student_id }}
    </h1>
</div>     
<div class="form-area">
    student_contest ?: 
    {{ student_contest }} <br>
    <div class="vertical-center">
        <div class="label-and-bar-wrap">
            {% for ff in student_form %}
            <div class="label-and-bar">
                <label for="success" class="control-label">{{ ff.label_tag }}</label>
                <div class="contest-form-bar">
                    {{ ff.value }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    
    
</div>
<div class="form-area">
    <h3>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ give_grade }}
                <div class="form-group has-success">
    
                    <div class="">
                        <button type="submit" name="submit" class="btn btn-success btn-labeled">提交<span class="btn-label btn-label-right"><i
                                    class="fa fa-check"></i></span></button>
                    </div>
                </div>
            </form>
        </div>
    </h3>
</div>
{% endblock middle-box %}
