{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>重置密码</title>
    <link rel="stylesheet" media="screen" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}"> 
</head>
<body>
    <div id="particles-js">
        <div class="p-one-forgot">
            <h1>
                {{ message }}
            </h1>
            <div class="forgot-top" >
            请输入以下信息
			</div>
            <div class="forgot-data">
                <form method="post" action="#" id="forgot-form">
                    {% csrf_token %}
					<div class="p-one">
                        <input type="email" class="p-one-input" name="email" placeholder="请输入您注册时的邮箱" maxlength="254" required="" id="id_email">
                        <input type="text" class="p-one-input" name="ID" placeholder="请输入您注册时的学号" required="" id="id_ID">
						<!-- <input type="text" class="p-one-input" id="email" name="email" placeholder="请输入您注册时的学号" required> -->
                    </div>
                    <div style="width:100%; text-align:center">
                        <button type="submit" class="forgot-button" >
                            提交
                        </button>
                    </div>
                </form>
            </div>
			
        </div> 
</div>
</body>
</html>