{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>重置密码</title>
    <link rel="stylesheet" media="screen" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}"> 
</head>
<body>
    <div id="particles-js">
        <div class="p-one-forgot">
            <h1>
                {{ message }}
            </h1>
            <div class="forgot-top" >
            请输入以下信息
			</div>
            <div class="forgot-data">
                <form method="post" action="#" id="forgot-form">
                    {% csrf_token %}
					<div class="p-one">
                        <input type="password" class="p-one-input" name="new_password1" placeholder="输入新密码" required="" id="id_new_password1">
                        <span class="helptext">
                            <ul>
                                <li>你的密码不能与你的其他个人信息太相似。</li>
                                <li>你的密码必须包含至少 8 个字符。</li>
                                <li>你的密码不能是大家都爱用的常见密码。</li>
                                <li>你的密码不能全部为数字。</li>
                            </ul>
                        </span>
                        <input type="password" class="p-one-input" name="new_password2" placeholder="重新输入密码" required="" id="id_new_password2">
                    </div>
                    <div style="width:100%; text-align:center">
                        <button type="submit" class="forgot-button" >
                            提交
                        </button>
                    </div>
                </form>
            </div>
			
        </div> 
</div>
</body>
</html>