<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <title>厅室申请</title>
    <link rel="stylesheet" href="{% static 'css/content1.css' %}">

</head>
<body>
    <div style="text-align: center;">
        <h1>厅室申请</h1>
    </div>

        {% block panel %}

        {% include 'includes/form_panel.html' %}

    {% endblock panel %}


</body>
</html>